"""Override any custom settings here."""

# Uncomment this if you want to use mailhog as your email service
#from server.settings.components import config

# Email
# https://docs.djangoproject.com/en/4.2/topics/email/
# -------------------------------------------------------------------------------
#EMAIL_HOST = config("EMAIL_HOST", default="")
#EMAIL_PORT = 1025
#EMAIL_USE_TLS = config("EMAIL_USE_TLS", default=False)
